mat-toolbar {
  background: #303030;
}
.display-pic {
  span {
    color: #fafafa;
    font-size: 22px;
    font-weight: 600;
    margin: 5px 10px 0 0;
    font-style: italic;
  }
  img {
    border-radius: 10px;
    height: 50px;
  }
}
button.mat-menu-item {
  font-size: medium;
}
button.mat-menu-item.username {
  font-weight: 600;
  font-size: large;
}
.btn-login {
  color: #fafafa;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #fafafa4a;
}
