.land-screen {
  background: #d3e0f1;
  min-height: 93.2%;
  .land-screen-2 {
    background-color: #fafafa
  }
  .app-logo {
    margin-left: 20%;
  }
  .plane-load {
    margin-left: 60%;
    margin-top: 15%;
  }
  .detail-card {
    z-index: 1;
    margin-top: 5%;
  }
  .partners {
    margin-top: 10%;
  }
  .tickets {
    margin-top: 10%;
  }
  .partner-head {
    text-align: center;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2%;
  }
}
