<div fxLayout="row wrap" class="land-screen">
  <div fxFlex.gt-lg="75" fxFlex.lg="75" fxFlex.sm="100" fxFlexAlign="center" fxLayout="column" class="land-screen-1">
    <div fxFlex="100" fxFlexAlign="center" fxLayout="row">
      <div fxFlex="40" fxFlexAlign="end">
        <img src="assets/logos/pack-ur-bags.png" alt="app-logo" class="app-logo" height="200" width="500">
      </div>
      <div fxFlex="60" fxFlexAlign="start" fxFlexOffset="25">
        <img src="assets/images/plane-load-round.gif" alt="plane-load-gif" class="plane-load" width="150">
      </div>
    </div>
    <div class="detail-card" fxFlexAlign="center" fxLayout="column">
      <div fxFlex="100" fxFlexAlign="center" fxLayout="column">
        <div fxFlex="75" fxFlexAlign="center center" class="partner-head tickets">Get You Tickets Booked Immediately</div>
        <p></p>
        <div fxFlex="25">
          <img src="assets/logos/pack-ur-bags-ticket.png" alt="pack-ur-bags-ticket" height="175">
        </div>
      </div>
      <div fxLayout="row wrap" fxFlex="100" fxFlexAlign="center" class="partners">
        <div fxFlex="100" class="partner-head">Partnering with World's Biggest Airlines</div>
        <div fxFlex="20"><img src="assets/images/air-asia-tail.png" alt="air-asia-tail" height="150"></div>
        <div fxFlex="20"><img src="assets/images/air-india-tail.png" alt="air-india-tail" height="150"></div>
        <div fxFlex="20"><img src="assets/images/indigo-tail.png" alt="indigo-tail" height="150"></div>
        <div fxFlex="20"><img src="assets/images/spice-jet-tail.png" alt="spice-jet-tail" height="150"></div>
        <div fxFlex="20"><img src="assets/images/vistara-tail.png" alt="vistara-tail" height="150"></div>
      </div>
    </div>
  </div>
  <div fxFlex.gt-lg="25" fxFlex.lg="25" fxFlex.sm="100" class="land-screen-2">
    <router-outlet></router-outlet>
  </div>
</div>
